.normal { background-color: #A9A87B; }
.fire { background-color: #FF7C3C; }
.water { background-color: #5692EC; }
.grass { background-color: #66C95B; }
.electric { background-color: #ffce49; }
.ice { background-color: #88d9d8; }
.fighting { background-color: #ce262c; }
.poison { background-color: #a93d9d; }
.ground { background-color: #e7bf70; }
.flying { background-color: #a890ec; }
.psychic { background-color: #ff5088; }
.bug { background-color: #97a437; }
.rock { background-color: #be9f44; }
.ghost { background-color: #725895; }
.dark { background-color: #745749; }
.dragon { background-color: #6e3bf2; }
.steel { background-color: #b7b8cf; }
.fairy { background-color: #fa97ac; }