.pokedex__bar-right {
    position: absolute;
    right: 0;
    height: calc(100% - 121px);
    width: 10px;
    bottom: 0;
    z-index: 3;
    background-color: #000000;
    
    .top, .mid, .bottom {
        width: 100%;
        border-radius: 10px;
        border: 2px solid black;
        background-color: #C00726;

        @media screen and (max-width:1024px) {
            display: none;
        }
    }

    .top {
        height: 10%;

    }

    .mid {
        height: 80%;

    }

    .bottom {
        height: 10%;
    }

    @media screen and (max-width:1024px) {
        width: 2px;
    }
}